<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>PAGE POTIN</h1>


		<h2>Voici la page du potin n°<%= params['id']%></h2>
		<h3>Son auteur : == <%= gossip.gossip_author %> == </h3>
		<h3>Le contenu du potin : == <%= gossip.gossip_content %> == </h3>
	    <a href='/'>Lien pour revenir à la page des potins</a>
	
</body>
</html>